@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.working-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-text {
    width: 90vw;
    text-align: justify;
    margin-top: 20px;
}

.name {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

.typed-text {
    font-family: "Calibri Light";
    width: 90vw;
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.typed-text:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}